<!DOCTYPE html>
<html>
<head>
    <title>Escolha do Produto</title>
</head>
<body>
    <h1>Escolha o Produto</h1>
    <form method="post">
        {% csrf_token %}
        <label for="product">Escolha o produto:</label>
        <select id="product" name="product">
            <option value="EB">E-book</option>
            <option value="BP">Blog Post</option>
            <!-- Adicione mais opções aqui conforme necessário -->
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>